* {
    /* border: 1px solid red; */
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.49);
}

.dark-bg-color {
    background-color: #04152d;
}

.header-container {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.search {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;

    animation: mobileMenu 0.3s ease forwards;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 1rem;

    padding: 0.4rem 1rem;
    border: 1px solid black;
}

.search-bar {
    padding: 0.4rem;
    border: none;
}

.search-bar:focus {
    outline: none;
}

.header-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-menu {
    list-style-type: none;
    position: static;
    animation: none;
    display: flex;
    gap: 1rem;
}


@media (max-width: 600px) {
    .header-menu {
        display: block;
        background-color: #04152d;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        z-index: 1;

        animation: mobileMenu 0.3s ease forwards;
    }

    .header-menu-item {
        padding: 1rem 1rem;
    }

    .header-menu-item:hover {
        color: #da2f68;
    }

    .hide {
        /* animation: mobileMenuHide 0.3s ease forwards; */
        display: none;
    }
}

@media (min-width: 600px) {
    .header-menu-btn {
        display: none;
    }
}

.swipe-and-hide {
    transform: translateY(-60px);
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }

    100% {
        transform: translateY(0);
    }
}

/* @keyframes mobileMenuHide {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-170%);
        display: none;
    }
} */