* {
    /* border: 1px solid red; */
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.header-container {    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 0 1rem;
}

.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    z-index: 1;

    animation: mobileMenu 0.3s ease forwards;

    display: flex;
    align-items: center;
    background-color: white;
    gap: 1rem;

    padding: 0.4rem 1rem;
    border: 1px solid black;
}

.search-bar {
    padding: 0.4rem;
    width: 100%;
    border: none;
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }

    100% {
        transform: translateY(0);
    }
}

.header-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu {
    list-style-type: none;
    position: static;
    animation: none;
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {
    .menu {
        display: block;
        background-color: white;
        text-align: center;

        position: absolute;
        left: 0;
        right: 0;
        top: 100%;

        z-index: 1;

        animation: mobileMenu 0.3s ease forwards;
    }

    .menu-item {
        padding: 0.3rem 0;
    }

    .hide {
        display: none;
    }
}


@media (min-width: 600px) {
    .menu-btn {
        display: none;
    }
}

.swipe-and-hide {
    transform: translateY(-60px);
}