.carousel-container {
    position: relative;
}

.carousel-items {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 0.72rem;
    overflow-y: hidden;
}

.carousel-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10rem;
}

.carousel-image {
    /* border-radius: 1rem;
    overflow-y: hidden; */
    aspect-ratio: 1 / 1.5;
    position: relative;
    margin-bottom: 20px;
}

.left-arrow,
.right-arrow {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: block;
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    /* flex-basis: 100px; */
}

.right-arrow {
    right: 0;
}

:where(.left-arrow, .right-arrow):hover {
    opacity: 1;
}

.title {
    font-size: 1.2rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: rgba(0, 0, 0, 0.733);
}

.circular-rating {
    position: absolute;
    width: 2.5rem;
    font-size: 3rem;
    left: 5%;
    bottom: 0;
    transform: translateY(50%);
}

.carousel-image .lazy-load-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;

}

.carousel-image .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}