.footer {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #020c1b;
    font-size: 0.85rem;
}

.menu {
    list-style-type: none;
    position: static;
    animation: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer p {
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff81;
}

.social-logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-logo {
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 100px;
    background-color: #04152d;
}

.social-logo, .menu-item {
    cursor: pointer;
    transition: color 350ms;
}


:where(.social-logo, .menu-item):hover {
    color: #da2f68;
}