.circular-rating {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.CircularProgressbar-text {
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateX(-25%) translateY(10%);
}